/* Landing
==================================================================== */
body{
  font-family: 'Helvetica', sans-serif !important;
  margin: 0 !important;
}

/* header.php */
#hellowMenu{
  margin-bottom: 15px;
  position:fixed;
  z-index: 100;
  margin-left: 24.8%;
  background-color: white;
  width: 100%;
}

#hellowMenu nav{
  margin-top: 25px;
}

#logo{
  width: 100%;
  height: 90px;
}

#headerLinks{
  list-style: none;
}

#headerLinks li{
  float: left;
  width: 16.66%;
  margin: 0;
}

#headerLinks a:link, #headerLinks a:visited {
  width: 100%;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  cursor: auto;
}

#headerLinks a:link:active, #headerLinks a:visited:active {
  color: #000000;
}

#inicio:hover { background-color: #82F2BD; }

#musica:hover { background-color: #FEF593; }

#moda:hover { background-color: #532F91; }

#trends:hover { background-color: #FE2A63; }

#design:hover { background-color: #B0D7EE; }


/* carousel.php */
#carousel{
  margin-top: 200px;
  z-index: 1;
}

.carouselImage{
  width: 100%;
  height: auto;
  max-height: 100%;
}

#prev{
  top: 58%;
  height: 55px;
  margin: 0;
  line-height: 55px;
  padding: 0 12px 0 12px;
  position: absolute;
  z-index: 2;
  font-size: 3em;
  color: #B9FEAB;
  background-color: white;
  border: none;
  border-radius: 0px;
}

#next{
  right: 0;
  top: 58%;
  margin: 0;
  height: 55px;
  line-height: 55px;
  padding: 0 12px 0 12px;
  position: absolute;
  z-index: 2;
  font-size: 3em;
  color: #B9FEAB;
  background-color: white;
  border: none;
  border-radius: 0px;
}

.carouselTitle{
  width: 380px;
  margin: 0 0 0 35px;
  bottom: 80px;
  color: #B9FEAB;
  position: absolute;
  z-index: 2;
  font-weight: bolder;
}

.carouselHR{
  position: absolute;
  width: 380px;
  margin: 0 0 0 35px;
  margin-left: 35px;
  height: 1px;
  bottom: 80px;
  border: none;
  border-bottom: 5px solid white;
}

.carouselLink{
  width: 380px;
  margin: 0 0 0 35px;
  bottom: 50px;
  color: #FFFFFF;
  position: absolute;
  z-index: 2;
  font-weight: bolder;
  font-size: 1.25em;
}

.slick-prev, .slick-next{
  display: none !important;
}

/* featured.php  includes sidebar */

#hellowFeatured{
  margin-top: 25px;
}

.featuredPost{
  width: 45%;
  margin-right: 5%;
  margin-bottom: 25px;
  float: left;
}

.featuredImage{
  width: 100%;
  height: auto;
}

.featuredPost h3{
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.featuredPost h4{
  margin: 0;
  font-size: 1.2em;
  color: lightgrey;
}

.featuredPost p{
  margin: 0;
}

.sidebar{
  margin-bottom: 25px;
  padding: 10px;
  background-color: #EBF9F2;
  overflow: hidden;
}

.sidebarTitle{
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.sidebarHR{
  height: 1px;
  margin: 0 0 10px 0;
  border: none;
  border-bottom: 5px solid #A5F493
}

.sidebarPost{
  overflow: hidden;
  margin-top: 15px;
}

.sidebarPost .sidebarImage, .sidebar h5, .sidebar p, .sidebar a{
  float: left;
}

.sidebarImage{
  width: 25%;
  padding: 2.5%;
  margin: 0 0 0 0;
  height: auto;
}

.sidebar h5{
  font-size: 0.9em;
  font-weight: bold;
  width: 69%;
  margin: 0 0 0 1%;
}

.sidebar p{
  width: 69%;
  font-size: 0.8em;
  margin: 0 0 0 1%;
}

.sidebar a{
  width: 69%;
  font-size: 0.8em;
  margin: 0 0 0 1%;
}

/* topPosts.php */
.topPost{
  width: 29%;
  margin-right: 4%;
  float: left;
}

.topPost img{
  width: 100%;
  height: auto;
}

.topPost h3{
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.topPost h4{
  font-size: 1.1em;
  margin: 0;
  color: lightgrey;
  font-weight: bold;
}

.topPost p{
  margin : 0;
}

/* footer.php */

footer{
  height: 100px;
  margin-top: 100px;
  background-color: #EBF9F2;
}

.footerLink{
  margin-top: 10px;
  text-align: center;
}

.footerLink a{
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

.icons{
  float: left;
}

.socialIcon{
  width: 25px;
  height: auto;
}

/* results.php */

.imgPost{
  float: left;
  margin: 0 0 0 0;
  width: 27%;
  position: relative;
  max-width: 100%;
}

.imgPost img{
  width: 100%;
  height: 100%;
  float: left;
  display: block;
}

.imgPost .txt:hover{
  opacity: 0.8;
  background-color: #EBF9F2;
  color: black;
  font-weight: bold;
}

.imgPost .txt {
  position: absolute;
  text-align: center;
  font-size: 0.5vw;
  height: 100%;
  width: 100%;
  opacity: 0;
  line-height: 700%;
  text-transform: uppercase;
}

.resultPost{
  width: 95%;
  padding: 2.5%;
  margin: 0 0 10px 0;
  height: 200px;
  float: left;  
  margin-top: 200px;
}

.resultPost:hover{
  background-color: #EBF9F2;
}

.resultText{
  width: 70%;
  float: right;
  color: black;
  display: block;
}

.resultText h3{
  text-transform: uppercase;
  margin: 0 0 0 0;
  font-size: 18px;
  font-weight: bold;
}

.resultText h4{
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 0 0;
  color: lightgrey;
}

.resultText p{
  margin: 0 0 0 0;
  font-size: 12px;
  line-height: 124%;
}

.resultPost hr{
  height: 1px;
  margin-top: 215px;
  background-color: lightblue;
  width: 100%;
}

.resultS{
  margin-top: 50px;
}
